* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem; /* 1rem = 10px 1.6rem = 16px */
  background: var(--gray-100);
  color: var(--text-over-primary);
}
